<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011133244127-dnbn3chd1u3qrqe0cdemttqk4tlr7tlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011133244127-dnbn3chd1u3qrqe0cdemttqk4tlr7tlk</string>
	<key>API_KEY</key>
	<string>AIzaSyA1KaDRw18dBvE99JKk4KHPgjEcOWwp-BY</string>
	<key>GCM_SENDER_ID</key>
	<string>1011133244127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avinashmagar.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-34c8e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-34c8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011133244127:ios:b6b4d9c15605f19c32bf6a</string>
</dict>
</plist>